
@{
    ViewData["Title"] = "NoPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="alert-danger" style="margin-top:50px">
    <h1>تأكد من وجود منتجات فى سلة المشتريات لشرائها</h1>
    <h1>او تأكد من تعبئة بياناتك</h1>

</div>

