@model IEnumerable<Products>
@{
    ViewData["Title"] = "search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<div style="margin-top:10px">
<h2 class="text-info">نتيجة البحث</h2>
</div>
<div class="row">
    @foreach (var subitem in Model)
    {
        <div class="col-md-3">
            <div class="card-mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">
                        <label style="font-size:23px;color:steelblue;">@subitem.proname</label>
                    </h4>
                    <img src="/img/mypro/@subitem.proimg" alt="card image" class="card-img-top" style="height:200px;" />
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <label style="font-size:20px;color:#ff0000">السعر:@subitem.price</label>

                            </div>
                            <a asp-action="details" asp-route-id="@subitem.pro_id" class="btn btn-primary pull-right btn-outline-info">التفاصيل</a>
                        </div>

                    </div>

                </div>


            </div>

        </div>

    }


</div>
